p
{
   background-color: rgb(32, 226, 87); 
}
body{
    background-color: rgb(169, 234, 234);
}
a{
    background-color: rgb(218, 138, 18);
}
div {
    background-color: aqua;
}
span{
    background-color: yellow;
}